extends layout

include blocks/bus
include blocks/train

block content
  .h1.yellow >>>> BETA! KEINE ECHTEN WERTE! <<<<
  .card.bg-dark.border-info
    .card-body
      table.table.table-striped.table-dark.table-responsive.table-sm
        for destination in data
          +train(destination)