extends layout

include blocks/bus
include blocks/train

block content
  .card.bg-dark
    .card-header
      table.table.table-striped.table-dark
        for destination in data
          +train(destination)