extends layout

include blocks/bus
include blocks/train

block content
  .card.bg-dark.border-info
    .card-body
      table.table.table-striped.table-dark.table-responsive
        for destination in data
          +train(destination)