doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/fontawesome-free/css/all.min.css')
    script(type="text/javascript" src="/js/bootstrap.bundle.js")
    script(type="text/javascript" src="/fontawesome-free/js/all.min.js")
  body.bg-dark
      block content
