body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.card-title strong{
  color: white;
  font-size: 2.5rem;
}
.red {
  color: red !important;
  font-weight: bold;
}
.green {
  color: limegreen !important;
  font-weight: bold;
}
.blue{
  color: lightskyblue !important;
}
.white{
  color: white;
}
.bg-lightdark{
  background-color: gray;
}
