body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

td {
  color: white;
  font-size: 1.7rem !important;
}
.yellow{
  color: orange;
  font-weight: bold;
}
.red {
  color: red !important;
  font-weight: bold;
}
.green {
  color: limegreen !important;
  font-weight: bold;
}
.darkblue{
  color: lightseagreen !important;
}
.blue{
  color: lightskyblue !important;
}
.white{
  color: white;
}
.bg-lightdark{
  background-color: gray;
}
.darkgrey{
  color: #777;
}
.smallfont {
  display: block;
  padding-top: 10px;
  font-size: 1rem !important;
}